@page "/"
@inject IJSRuntime jsRuntime
@implements IAsyncDisposable

<div class="scroll-indicator">
    <a href="#hero" class="active" data-section="Hero"></a>
    <a href="#dashboard" data-section="Dashboard"></a>
    <a href="#friends-timeline" data-section="Friends Timeline"></a>
    <a href="#community" data-section="Community"></a>
</div>

<section id="hero">
    <div class="wrapper-header">
        Welcome, @UserName!
    </div>
    <div class="wrapper-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis velit id ultrices suscipit. Morbi quis sollicitudin lorem, eu tempus lorem. Nullam maximus molestie enim eu molestie. Nam elementum, nunc ut congue pretium, ante metus pretium quam, sed dignissim lorem ipsum tempus magna. Nulla lacinia est leo, sed semper arcu malesuada placerat. Sed consequat orci at scelerisque dictum. In hac habitasse platea dictumst. Maecenas ullamcorper vel sapien id tincidunt. Aenean vehicula commodo dui, sit amet gravida nulla rutrum quis.

        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus scelerisque sapien erat, sit amet tristique dui posuere sed. Duis vitae purus id est ullamcorper aliquet. Ut feugiat, erat ac malesuada pretium, orci justo venenatis purus, at vehicula ante ante eu lectus. Maecenas eu odio metus. Integer blandit egestas sem, ac ultricies ligula facilisis sit amet. Vestibulum ornare libero nec iaculis dapibus.
    </div>
</section>

<section id="dashboard">
    <div class="wrapper-header">
        Dashboard
    </div>
    <div class="wrapper-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis velit id ultrices suscipit. Morbi quis sollicitudin lorem, eu tempus lorem. Nullam maximus molestie enim eu molestie. Nam elementum, nunc ut congue pretium, ante metus pretium quam, sed dignissim lorem ipsum tempus magna. Nulla lacinia est leo, sed semper arcu malesuada placerat. Sed consequat orci at scelerisque dictum. In hac habitasse platea dictumst. Maecenas ullamcorper vel sapien id tincidunt. Aenean vehicula commodo dui, sit amet gravida nulla rutrum quis.

        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus scelerisque sapien erat, sit amet tristique dui posuere sed. Duis vitae purus id est ullamcorper aliquet. Ut feugiat, erat ac malesuada pretium, orci justo venenatis purus, at vehicula ante ante eu lectus. Maecenas eu odio metus. Integer blandit egestas sem, ac ultricies ligula facilisis sit amet. Vestibulum ornare libero nec iaculis dapibus.
    </div>
</section>
<section id="friends-timeline">
    <div class="wrapper-header">
        Friends Timeline
    </div>
    <div class="wrapper-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis velit id ultrices suscipit. Morbi quis sollicitudin lorem, eu tempus lorem. Nullam maximus molestie enim eu molestie. Nam elementum, nunc ut congue pretium, ante metus pretium quam, sed dignissim lorem ipsum tempus magna. Nulla lacinia est leo, sed semper arcu malesuada placerat. Sed consequat orci at scelerisque dictum. In hac habitasse platea dictumst. Maecenas ullamcorper vel sapien id tincidunt. Aenean vehicula commodo dui, sit amet gravida nulla rutrum quis.

        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus scelerisque sapien erat, sit amet tristique dui posuere sed. Duis vitae purus id est ullamcorper aliquet. Ut feugiat, erat ac malesuada pretium, orci justo venenatis purus, at vehicula ante ante eu lectus. Maecenas eu odio metus. Integer blandit egestas sem, ac ultricies ligula facilisis sit amet. Vestibulum ornare libero nec iaculis dapibus.
    </div>
</section>
<section id="community">
    <div class="wrapper-header">
        Community
    </div>
    <div class="wrapper-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis velit id ultrices suscipit. Morbi quis sollicitudin lorem, eu tempus lorem. Nullam maximus molestie enim eu molestie. Nam elementum, nunc ut congue pretium, ante metus pretium quam, sed dignissim lorem ipsum tempus magna. Nulla lacinia est leo, sed semper arcu malesuada placerat. Sed consequat orci at scelerisque dictum. In hac habitasse platea dictumst. Maecenas ullamcorper vel sapien id tincidunt. Aenean vehicula commodo dui, sit amet gravida nulla rutrum quis.

        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus scelerisque sapien erat, sit amet tristique dui posuere sed. Duis vitae purus id est ullamcorper aliquet. Ut feugiat, erat ac malesuada pretium, orci justo venenatis purus, at vehicula ante ante eu lectus. Maecenas eu odio metus. Integer blandit egestas sem, ac ultricies ligula facilisis sit amet. Vestibulum ornare libero nec iaculis dapibus.
    </div>
</section>

@code {

    public string UserName { get; } = "Blaž Zorec";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await jsRuntime.InvokeVoidAsync("registerSectionObserver", CancellationToken.None);
        }
    }

    public async ValueTask DisposeAsync()
    {
        await Task.CompletedTask;
    }

}