@page "/"

@code {

    // TODO:bzore inject the interopJs to call the scroll-indicator js for dynamic change
    public string UserName { get; } = "User1";
}

<div class="scroll-indicator">
    <a href="#hero" class="active" data-section="Hero"></a>
    <a href="#dashboard" data-section="Dashboard"></a>
    <a href="#friends-timeline" data-section="Friends Timeline"></a>
    <a href="#community" data-section="Community"></a>
</div>

<section id="hero">
    <div class="wrapper">
        Welcome, @UserName!
    </div>
</section>

<section id="dashboard">
    <div class="wrapper">
        Dashboard
    </div>
</section>
<section id="friends-timeline">
    <div class="wrapper">
        Friends Timeline
    </div>
</section>
<section id="community">
    <div class="wrapper">
        Community
    </div>
</section>