@inherits LayoutComponentBase

@code {
    public bool IsAuthorized { get; } = true;
}

<header>
    <div class="left-container">
        <h1 class="logo">Logo</h1>
        @if (IsAuthorized)
        {
            <ul class="nav">
                <li class="nav-link">
                    <a href="#" class="active">Homepage</a>
                </li>
                <li class="nav-link">
                    <a href="#">My Groups</a>
                </li>
                <li class="nav-link">
                    <a href="#">My Events</a>
                </li>
                <li class="nav-link">
                    <a href="#">Profile</a>
                </li>
                <li class="nav-link">
                    <a href="#">About Us</a>
                </li>
            </ul>
        }
        else
        {
            <ul class="nav">
                <li class="nav-link">
                    <a href="#" class="active">Homepage</a>
                </li>
                <li class="nav-link">
                    <a href="#">Groups</a>
                </li>
                <li class="nav-link">
                    <a href="#">Events</a>
                </li>
                <li class="nav-link">
                    <a href="#">About Us</a>
                </li>
            </ul>
        }
    </div>
    <div class="action-buttons">
        @if (IsAuthorized)
        {
            <a class="log-in" href="#">Log Out</a>
            <button class="create-event">Create new event</button>
        }
        else
        {
            <a class="log-in" href="#">Log In</a>
            <button class="sign-up">Sign Up</button>
        }
    </div>
    <div class="burger">
        <i class="fas fa-bars"></i>
    </div>
</header>

<main>
    @Body
</main>

<footer>
    <div class="footer-content">
        <p>&copy; 2024 Your Company Name. All rights reserved.</p>
        <p>Contact Support: <a href="mailto:support@example.com">support@example.com</a></p>
    </div>
</footer>